[masters]
weedfs001.hobot.cc
weedfs002.hobot.cc
weedfs003.hobot.cc

[volumes]
weedfs001.hobot.cc
weedfs002.hobot.cc
weedfs003.hobot.cc
weedfs004.hobot.cc
weedfs005.hobot.cc
weedfs006.hobot.cc
 
[filers]
weedfs001.hobot.cc
weedfs002.hobot.cc

[s3s]
weedfs001.hobot.cc
weedfs002.hobot.cc
weedfs003.hobot.cc